/**
 * Шрифты.
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans');

/*
@font-face {
    font-family: 'Foo';
    src: url(../fonts/foo.eot);
    src: local('Foo'),
    url(../fonts/foo.woff) format('woff'),
    url(../fonts/foo.ttf) format('truetype'),
    url(../fonts/foo.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
