/**
 * Сайт (вся страница).
 *
 * Должен применяться к тегу <body>.
 */

/* Пример разметки:

<body class="site">
<div class="site__constraint">
    <header class="site__header"></header>
    <main class="site__main"></main>
    <aside class="site__sidebar site__sidebar_on_left"></aside>
    <aside class="site__sidebar site__sidebar_on_right"></aside>
    <footer class="site__footer"></footer>
</div>
</body>

 */

.site {
    $headerHeightMobileFull: 7rem;
    $headerHeightMobileLite: 5rem;

    @include reset-body;
    background: $colorGrayLightest;
    color: $colorBlack;
    display: block;
    font-size: 1rem;

    /* Окно прокручено вниз. */
    &_scrolled {
        .site__constraint {
            margin-top: $headerHeightMobileLite;
        }
        .site__header {
            box-shadow: 0 1px 1em rgba(0, 0, 0, .5);
            height: $headerHeightMobileLite;
        }
    }

    /*
     * Обёртка для содержимого страницы.
     * Может использоваться для ограничения ширины или создания эффектов.
     */
    &__constraint {
        @include reset-box-model;
        @include display-flex(flex);
        @include flex-flow(column);
        margin: $headerHeightMobileFull auto 0;
        max-width: $siteBodyMaxWidth;
        min-height: 100vh;
        min-width: $siteBodyMinWidth;
        overflow: hidden; // Если у вложенных блоков есть тени, замените на «visible».
    }

    /*
     * Подвал сайта.
     */
    &__footer {
        @include reset-box-model;
        @include flex(1 100%);
        background: $colorGrayDark;
        color: $colorGrayLightest;
        display: block;
        padding: 1em;
        font-size: 90%;
        text-align: center;

        @include for-tablet-landscape-and-wider {
            @include order(4);
        }
    }

    /*
     * Шапка сайта.
     */
    &__header {
        @include reset-box-model;
        @include display-flex(flex);
        @include flex(1 auto);
        @include flex-flow(column nowrap);
        background: $color5;
        color: $colorWhite;
        height: $headerHeightMobileFull;
        left: 0;
        padding: .3em;
        position: fixed;
        right: 0;
        top: 0;
    }

    /*
     * Область главного содержимого.
     */
    &__main {
        @include reset-box-model;
        @include flex(1 100%);
        background: $colorWhite;
        display: block;
        padding: .5em;

        @include for-tablet-landscape-and-wider {
            @include flex(3 0);
            @include order(2);
        }
    }

    /*
     * Боковая панель.
     */
    &__sidebar {
        @include reset-box-model;
        @include flex(1 auto);
        background: $colorGrayLight;
        display: block;

        /*
         * Главная панель.
         */
        &_primary {
            @include reset-box-model;
            display: block;

            @include for-tablet-landscape-and-wider {
                @include order(1);
            }
        }

        /*
         * Второстепенная панель.
         */
        &_secondary {
            @include reset-box-model;
            display: block;

            @include for-tablet-landscape-and-wider {
                @include order(3);
            }
        }
    }
}
